resources/public/js
/.idea/
/target/
/figwheel_server.log
/.lein-repl-history
/.nrepl-port
/classes/
/precept.iml-bak
/.lein-failures
/node_modules/
.DS_Store
doo-index.html
/pom.xml.asc
/pom.xml
/devtools/figwheel_server.log
/devtools/pom.xml
/devtools/precept-devtools.iml
/devtools/target/
