{:cljdoc.doc/tree [["Readme" {:file "README.md"}]
                   ["Application Organization" {:file "doc/application-organization.md"}]
                   ["Syntax" {:file "doc/syntax.md"}]
                   ["Clara Differences" {:file "doc/clara-differences.md"}]]}
